select{
    display: flex;
    height: 28pt;
    font-size: 24pt;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;

}

input[type=date]{
    display: flex;
    height: 28pt;
    font-size: 24pt;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;

}

datalist{
    display: flex;
    width: 40% !important;
    margin-left: auto;
    margin-right: auto;
}

option{
    display: flex;
    width: 20% !important;
    margin-left: auto;
    margin-right: auto;
}

h3{
    display: flex;
    width: max-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    background-color: white;
    width: max-content;
}

.mdl-button-view{
    height: 100% !important;
    width: 380px !important;
}

.countrySelect
{
    font-size: 18pt !important;
    position: fixed;
    top: 100px;
    left: 10;
    overflow-y: hidden;
    background-color: blueviolet;
    color: whitesmoke;
    height: 91px;
    width: 100%;
    padding: 10px;
}

#countries {
    
    background-color: aliceblue;
    margin: 5px;
    font-size: 18px !important;
}

#schedule-trip-button {
    background-color: brown;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px !important;
    padding: 10px !important;
    width: fit-content !important;
    position: fixed;
    right: 10px;
    height: 150px !important;
    font-style: normal !important;
    width: 200px !important;
}

#view-trip-button {
    background-color: brown;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px !important;
    padding: 10px !important;
    width: fit-content !important;
    position: fixed;
    right: 10px;
    height: 150px !important;
    font-style: normal !important;
    width: 200px !important;
    bottom: 10px;
}

#show-dialog {
    background-color: brown;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px !important;
    padding: 10px !important;
    width: fit-content !important;
    position: fixed;
    right: 0px;
    height: 109px !important;
    font-style: normal !important;
    width: 200px !important;
    top: 100px;
}

.airportSelect
{
    text-align: left !important;
    color: aliceblue !important;
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    left: 16px;
    top: 280px;
    background-color:green;
    text-align: center;
    height: 71px;
    width: 380px;
    padding: 10px;
}

.selectMarginDate{
}

.dateSelect
{
    text-align: left !important;
    color: aliceblue !important;
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    left: 16px;
    top: 200px;
    background-color:yellowgreen;
    text-align: center;
    height: 70px;
    width: 380px;
    padding: 10px;
    font-size: 18pt !important;
}

.routeSelect
{
    text-align: left !important;
    color: aliceblue !important;
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    left: 16px;
    top: 360px;
    background-color:yellowgreen;
    text-align: center;
    height: 70px;
    width: 380px;
    padding: 10px;
}

.viewTrip
{
    position: absolute;
    left: 16px;
    top: 16px;
    height: 100px;
}

.planTrip
{
    position: absolute;
    right: 16px;
    bottom: 16px;
    height: 100px;
}

.planTrip1
{
    position: absolute;
    right: 16px;
    top: 16px;
    height: 100px;
}

.selectMarginCountry{
    background-color:blueviolet !important;
    width: auto;
}

.selectMarginAirport{

}



.mapboxgl-popup-close-button
{
    display: none;
}

.mapboxgl-popup-content
{
    width: fit-content;
    height: fit-content;
}