.mdl-dialog
{
    position: fixed;
    width: 100% !important;
    height: 80% !important;
    margin: 20px !important;
    padding: 0% !important;
}
.mdl-button-confirmButton
{
    background-color: brown !important;
    color: aliceblue !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px !important;
    padding: 10px !important;
    width: fit-content !important;
    position: fixed;
    right: 10px;
    height: 150px !important;
    font-style: normal !important;
    width: 200px !important;
    bottom: 10px;
    border-radius: 175px;
}

.mdl-button-backButton
{
    position: absolute !important;
    background-color: tomato !important;
    left: 10px !important;
    top: 10px !important;
    height: 60px !important;
    width: 60px !important;
}

.text{
    font-size: 18pt !important;
}

.text-left
{
    text-align: left;
    font-size: 18pt !important;
}

.material-icons-top
{
    font-size: 28pt !important;
    color: white !important;
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.mdl-list__item {
    background-color: teal !important;
    color: aliceblue !important;
    border: tomato 4px;
    
}


input{
    display: flex;
    height: 28pt;
    font-size: 24pt;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;

}

.mdl-data-table
{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items : center;
}

.demo-list-icon {
    width: 300px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2
{
    font-size: 18pt !important;
    text-align: center;
}

.mdl-cell--12-col
{
  height: 100vh;
}

.mdl-data-table {
  font-family: arial, sans-serif;
  text-align: center;
  height: auto;
}

.mdl-dialog__content {
    font-size: 18pt;
    text-align: left !important;
}


td{
  text-align: left !important;
  font-size: 18pt !important;
  padding: 10px !important;
  border: 2px solid greenyellow !important;
  width: 10% !important;
}

tr{
  background-color: tomato !important;
  text-align: left !important;
  color: black !important;
  height: 80px !important;
  font-size: 18pt !important;
  border: 1px solid black !important;
}


.icon-center
{
    text-align: left;
}

.icon-align
{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.routes-table
{ 
  position: fixed;
   overflow-y:scroll !important;
   height: fit-content !important;
   width: fit-content !important;
   display:block !important;
}

.material-icons-large
{
    font-size: 28pt !important;
    position: relative !important;
    top: 0px;
    left: 0px;
    color:  wheat !important;
}

.material-icons-white
{
    font-size: 28pt !important;
    position: relative !important;
    top: 0px;
    left: 0px;
    color:  wheat !important;
}